[color-mode="light"] .content {
  --accent: #f5f1d3;
}
[color-mode="dark"] .content {
  --accent: #0a2531;
}
body {
  --border-radius: 1em;
  --secondary: #ffbb00;
  --primary: #10b468;
  --dark: #041720;
  --light: #fffce5;
}
.navigation__text::before {
  content: "";
  display: block;
  width: 0.25em;
  height: 0.25em;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 50%);
}
