@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

:root {
  --ol-heading-font-family: "Domine";
  --ol-secondary: rgbValues(#ffbb00);
  --ol-primary:rgbValues(#1490c9;
  --ol-dark: rgbValues(#041720);
  --ol-light: rgbValues(#fffce5);
}
