@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap");

:root {
  --heading-font: "domine";
  --gtr-h1-heading-font-family: var(--heading-font);
  --gtr-h2-heading-font-family: var(--heading-font);
  --gtr-h3-heading-font-family: var(--heading-font);
  --gtr-h4-heading-font-family: var(--heading-font);
  --gtr-h5-heading-font-family: var(--heading-font);
  --gtr-primary-rgb: #{rgbValues(#8b9248)};
  --gtr-secondary-rgb: #{rgbValues(#1490c9)};
  --gtr-dark-rgb: #{rgbValues(#0b042e)};
  --gtr-light-rgb: #{rgbValues(#f7f6ef)};
}
