@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap");
:root {
  --heading-font: "domine";
  --ol-h1-heading-font-family: var(--heading-font);
  --ol-h2-heading-font-family: var(--heading-font);
  --ol-h3-heading-font-family: var(--heading-font);
  --ol-h4-heading-font-family: var(--heading-font);
  --ol-h5-heading-font-family: var(--heading-font);
  --ol-primary-rgb: 255, 187, 0;
  --ol-secondary-rgb: 20, 144, 201;
  --ol-dark-rgb: 4, 23, 32;
  --ol-light-rgb: 255, 252, 229;
}